<?xml version="1.0" encoding="UTF-8"?>
<!--Valid values of the status attribute are "trace", "debug", "info", "warn", "error" and "fatal". -->
<!-- monitorInterval 重新读取配置文件间隔时间 单位秒 The minimum interval is 5 seconds-->
<Configuration status="trace" monitorInterval="3600">
    <!--先定义所有的appender-->
    <Appenders>
        <!--两种strict模式都能识别-->
        <Console name="console" follow="true">
            <PatternLayout pattern="%-5p - %d{yyyy-MM-dd HH:mm:ss} - %m%n"/>
        </Console>
        <RollingRandomAccessFile name="rollingFile"
                                 fileName="${mvn.log.path}/${mvn.log.name}.log"
                                 filePattern="${mvn.log.path}/${mvn.log.name}-%i.log.gz">
            <PatternLayout
                    pattern="%-5p - %d{yyyy-MM-dd HH:mm:ss} - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20" compressionLevel="9"/>
        </RollingRandomAccessFile>
        <Async name="async">
            <AppenderRef ref="rollingFile"/>
            <AppenderRef ref="console"/>
        </Async>
    </Appenders>
    <Loggers>
        <!--查看mybatis是否由slf4j关联log4j2-->
        <Logger name="org.apache.ibatis.logging.LogFactory"
                level="DEBUG" additivity="false" includeLocation="true">
            <AppenderRef ref="async"/>
        </Logger>
        <!--是否开启sql相关日志-->
        <!--org.apache.ibatis.session.defaults.DefaultSqlSessionFactory-->
        <Logger name="java.sql.Connection"
                level="DEBUG" additivity="false" includeLocation="true">
            <AppenderRef ref="async"/>
        </Logger>
        <!--是否开启sql参数日志-->
        <!--org.apache.ibatis.logging.jdbc.PreparedStatementLogger-->
        <Logger name="java.sql.PreparedStatement"
                level="DEBUG" additivity="false" includeLocation="true">
            <AppenderRef ref="async"/>
        </Logger>
        <!--是否开启sql结果日志-->
        <!--org.apache.ibatis.logging.jdbc.ResultSetLogger-->
        <Logger name="java.sql.ResultSet"
                level="DEBUG" additivity="false" includeLocation="true">
            <AppenderRef ref="async"/>
        </Logger>
        <Root level="${mvn.log.level}" includeLocation="true">
            <AppenderRef ref="async"/>
        </Root>
    </Loggers>
</Configuration>
