<div>
    <table>
        #foreach($user in $users)
            <tr>
                <td>$user.id</td>
                <td>$user.userNum</td>
                <td>$user.userName</td>
                <td>$user.balance</td>
            </tr>
        #end
        <tr>
            <td>
                <button onclick="getFastJson('getFastJson')">getFastJson</button>
            </td>
            <td>
                <button onclick="getGson('getGson')">getGson</button>
            </td>
        </tr>
    </table>
</div>
<script>
    function getFastJson(param) {
        window.location.href = "#springUrl('')/getFastJson?code=400&msg=" + param;
    }
    function getGson(param) {
        window.location.href = "#springUrl('')/getGson?msg=" + param;
    }
</script>
